<ng-container *ngIf="show">
 <div class="align">
  <div class="modalc">
    <div class="add">
      <header class="add__header">
        <h2>{{title}}</h2>
      </header>
      <form [formGroup]="user"  action="#" class="add__form" method="POST">
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            formControlName="email"
            name="email"
            placeholder="mail@address.com"
          />
        </div>

        <div>
          <label>Nombre</label>
          <input
            type="text"
            formControl="name"
            name="name"
            placeholder="Nombre"
          />
        </div>
        <div>
          <label>Username</label>
          <input
            type="text"
            formControlName="userName"
            name="username"
            placeholder="Username"
          />
        </div>
        <div>
          <label >Telefono</label>
          <input
            type="number"
            formControlName="phone"
            name="phone"
            placeholder="Telefono"
          />
        </div>


        <div class="container">
          <button class="button-add" (click)="show=false">Salir</button>
          <input   class="button-exit" type="submit" value="Agregar" />
        </div>

      
      </form>
    </div>

    <div class="modalc-container"></div>
  </div>
 </div>
</ng-container>
