$color-red: #9469AD;
table {
  width: 100%;
  height: 100%;
 
  border: solid black 1px;
  color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 5px;
  background-image: linear-gradient(-90deg, #09096e, #00234e);
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.55);
  
  
  
}
.text-color{
  color: #fff;
  font-size: 100%;
}
.paginator{
  background-image: linear-gradient(-90deg, #09096e, #00234e);
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.55);
  color: #fff;

}
.body{
  background-image: linear-gradient(-90deg, #0b0be6, #00234e);
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.55);
}
b {
  color: $color-red;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;

}



.container {
  margin: 10px;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

::ng-deep.campaign-type-icon g * {
  fill: #ffffff00;
  stroke: inherit;
  stroke-dasharray: unset;
}

.dashboard-wraper {
  height: 11vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 11);
  width: 100%;
  padding: 0;
  background-image: linear-gradient(-90deg, #000024, #00234e);
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.55);
}
.dashboard-box-wrapper {
  overflow: auto;
  height: 89vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 89);
  background-image: url('/assets/Dashboard/fondoDashboard@PYP.png');
  z-index: -1;
  margin-left: -3px;
}